/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: gray;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Container principal */
.container {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border: 10px solid gray;
}

/* Article Section */
.article {
    width: 70%;
    float: left;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

.article h2 {
    margin-bottom: 20px;
}

.article p {
    line-height: 1.8;
    margin-bottom: 20px;
}

.images {
    text-align: center;
}

.image-box {
    display: inline-block;
    width: 30%;
    aspect-ratio: 1/1;
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
    border: 10px solid gray;
    text-align: center;
}

/* Sidebar Section */
.projects {
    width: 25%;
    float: right;
    background-color: #fff;
    padding: 20px;
    border: 10px solid gray;
}

.projects h2 {
    margin-bottom: 20px;
}

.projects ul {
    list-style: none;
}

.projects ul li {
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}